{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>CATCH YOUR POKEMON</h1>
    </div>
    <br>
    <div class="row">
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset id="pokemon-field">
                {{ form.pokemon.label }}
                {{ form.pokemon(class='form-control', placeholder='Enter Pokemon Name') }}
                {{ form.submit(class='btn btn-primary', placeholder='Submit') }}</fieldset>
        </form>
    </div>
        {% if poke %}
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="{{poke.img_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{poke.name}}</h5>
                <p class="card-text">ABILITY: {{ poke.ability }}</p>
                <p class="card-text">BASE EXP: {{ poke.base_exp }}</p>
                <p class="card-text">HP: {{ poke.hp }}</p>
                <p class="card-text">ATTACK: {{ poke.attack }}</p>
                <p class="card-text">DEFENSE: {{ poke.defense }}</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Catch</a>
                <a href="#" class="card-link">Release</a>
            </div>
        </div>
    </div>
</div>
        {%  endif %}
{% endblock %}


</body>

</html>